<!DOCTYPE html>
<html>
  <head>
  	<script>
      function trans(val) {
        window.open("/board/" + val);
      }
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<form action="#" method="get">
  	　最低段位：<input type="text" name="lower"><br>
  	　最高段位：<input type="text" name="higher"><br>
  	　<input type="submit" value="送出">
  	</form>
  	<div>最低段位<%= lower %> 最高段位<%= higher %> 開局<%= val %></div>
    <pre>棋譜編號&#9;&#9;&#9;黑段&#9;白段&#9;贏家&#9;</pre>
    <% result.forEach(function(ele) { %>
	    <pre onclick="trans('<%= ele.chessid %>')"><%= ele.chessid %>&#9;<%= ele.blackdan %>&#9;<%= ele.whitedan %>&#9;<%= ele.winner %></pre>
	<% }); %>
  </body>
</html>
